@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200&display=swap');


body, html {
	margin: 0;
    padding: 0px;
    overflow-y: visible;
    z-index: -102;
}

#topBar {
	position: fixed;
	width: 500px;
	height: 200px;
	left: 50%;
	margin-left: -250px;
	z-index:50;
	font-family: 'Dancing Script', cursive;
	color: white;
}

/*Title*/
#topBar h1 {
	position: fixed;
	
	font-weight: normal;
	text-align: center;
	margin: 0 auto;

	font-size: 3.5em;
	border-bottom: white solid 2px;
	width: 500px
}

h2 {
	position: fixed;
	font-family: 'Dancing Script', cursive;
	font-weight: normal;
	text-align: center;
	margin: 0 auto;
	color: white;
	font-size: 3.5em;
	width: 500px;
	top:  75px;
}


/* backgrounds*/
#oBackground {
	z-index: -97;
	position: fixed;
	width: 100%;
	height: 100%;
	
}
#background {
	background-color: #5d5c78;
	z-index: -102;
	position: fixed;
	width: 100%;
	height: 100%;
	
}

#background1 {
	background-color: #96e7ff;
	z-index: -103;
	position: fixed;
	width: 100%;
	height: 100%;
	
}

#background2 {
	z-index: -102;
	position: fixed;
	width: 100%;
	height: 100%;
	
}

/*sky and day/night cycles*/
#stars {
	z-index: -100;
	position: fixed;
	width: 100%;
	height: 100%;
	
}

#sun {
	z-index: -98;
	width: 5%;
	height: 10%;
	position: fixed;
	top: 75px;
	left: -100px;
}

#moon {
	z-index: -98;
	width: 5%;
	height: 10%;
	position: fixed;
	top: 75px;
	left: -100px;
}

#cityDay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 100px;
	z-index: -96;
}

#cityNight {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 100px;
	z-index: -96;
}

/*layer 2 containing cars*/
#layer2 {
	width: 1920px;
	max-width: 100%;
	margin: auto;
	overflow-y: hidden;
	overflow-x: hidden;

 }

#bridge {
	position: relative;
	width: 100%;
  	z-index: 100;
  	margin-top: 350px;
}

#street {
	position: relative;
	width: 100%;
  	z-index: 98;
  	margin-top: -100px;
  	bottom: -85px;

}

#car {
	position: relative;
 	height: 15%;
	width: 15%;
	z-index: 104;
	left:  -400px;
	margin-top: -150px;
	margin-bottom: -20px;
}

#car1 {
	position: relative;
 	height: 15%;
	width: 15%;
	z-index: 102;
	left: 2000px;
	margin-top: -450px;
	margin-bottom: -190px;
	z-index: 99;
}

#bus {
	position: relative;
  	height: 25%;
	width: 40%;
	z-index: 103;
	left: -2000px;
	margin-top: -400px;
	margin-bottom: -100px;
}

#bus1 {
	position: relative;
  	height: 25%;
	width: 40%;
	z-index: 97;
	left: 2500px;
	margin-top: -550px;
	margin-bottom: -200px;
}


/* bootstrap css */
#container {
	background-color: black;
}

.col-sm-4 {
	width: 400px;
	height: 400px;
	text-align: center;
	background-color: white;
	border: solid black 10px;
}

#b1 {
	padding-top: 100px;
	font-size: 1.35em;
	font-weight: bold;
	font-family: 'Martel', serif;
}

#b2 {
	padding-top: 100px;
	font-size: 1.35em;
	font-weight: bold;
	font-family: 'Martel', serif;
}

#b3 {
	padding-top: 100px;
	font-size: 1.35em;
	font-weight: bold;
	font-family: 'Martel', serif;
}



